.greentech-header{
    /* position: absolute; */
    /* background-color: rgba($mainBlue, 0.3); */
    width: 100%;
    &__logo{
        text-align: center;
        @mixin atMedium{
            position: absolute;
            top:0px;
            z-index: 3;
        }
        img{
            width: 100px;
            height: 100px;
            @mixin atMedium{
                width: auto;
                height: auto;
                display: block;
            }
        }
    }
    @mixin clearfix;
}